@font-face {
  font-family: 'AntiqueOlive';
  src: url('fonts/antiqueOlive.otf');
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  font-family: 'AntiqueOlive', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Hamburger Icon */
.hamburger {
  font-size: 35px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 13000; /* FIX: above menu & logo */
  color: #f06b3a;
}


/* Side Menu Styling */
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12000;  /* FIX: higher than logo */
  top: 0;
  left: 0;
  background-color: #ffc8a8;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  box-shadow: 4px 0 10px rgba(0,0,0,0.2);
}

/* Menu links */
.side-menu a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f06b3a;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: #ffd0e0;
}

/* X close button */
.side-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 40px;
}

.fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.fadeUp.show {
  opacity: 1;
  transform: translateY(0);
}

.logo {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 9999;
}
#logo-image {
  width: 175px;
  height: auto;
  margin-left: 620px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-image: url(watercolor.png);
  font-size: xx-large;
  color: #ffffff;
}
.mission-statement {
    margin-left: 50px;
    margin-top: 75px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(253, 255, 236);
}
#fishy {
    margin-top: 40px;
    width: 200px;
    height: auto;
    align-items: left;
}
.introWords {
    font-size: x-large;
    flex-direction: column;
    margin-right: 40px;
    color: rgb(113, 24, 113);
  text-align: right;
}
.donation {
    display: flex;
    color: rgb(174, 41, 146);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 231, 182);
    margin-top: -20px;
    gap: 20px;
    padding: 100px 100px;
}

.donateButton {
    background-color: #ff61bd;
    color: #ffe0e3;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    transition: all 0.3s ease;

}

.donateButton:hover {
    background-color: #ff7a55;
    width: 150px;
    height: auto;
    color: rgb(174, 41, 146);
    font-size: x-large;
}

.contact {
    display: flex;
    color: rgb(174, 41, 146);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 143, 126);
    margin-top: -20px;
    gap: 20px;
    padding: 100px 100px;
}
